@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Montserrat;
  src: url('./assets/fonts/Montserrat-Medium.ttf');
  font-weight: 500;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Montserrat;

}

body{
}

a{
  text-decoration: none;
}

button{
  cursor: pointer;
  border-radius: 5px;
  border: transparent;
  outline: transparent;
}